/*! Place your custom styles here */
.bar {
    height: 9em;
}

.bar .logo {
    max-height: 5em;
    max-width: none;
}

.nav-container {
    background: white;
}

body {
    background: rgb(55, 55, 55);
}

input {
    margin-bottom: 15px;
}

#shade {
    background: rgba(55, 55, 55, 0.8);
}

@media all and (max-width: 767px){
  #shade{ overflow-x: scroll; }
}
